---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
---

<!-- SM: er 640px i width -->
<MainLayout title="Vores mission">
  <section
    class="sm:flex-col flex lg:flex-row mr-section_right ml-section_left place-content-between top lg:mb-section_buttom"
  >
    <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
      DELTAG I KAMPEN I MOD MADSPILD
    </Heading>

    <div class="flex flex-col gap-3">
      <Link variant="orange"> LÆS OM VORES TIPS </Link>
      <Link> VORES HISTORIE </Link>
    </div>
  </section>

  <section class="carousel">
    <div class="group">
      <!-- Forklar de andre hvad flex grow shrink og basis er -->
      <img
        src="/img/frugt1.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt2.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt3.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt4.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt5.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt6.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
    </div>

    <div class="group">
      <img
        src="/img/frugt1.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt2.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt3.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt4.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt5.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt6.png"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
    </div>
  </section>

  <section
    class="sm:flex flex-col lg:flex-row lg:mr-section_right lg:ml-section_left lg:mb-section_buttom lg:mt-section_top"
  >
    <img
      src="/img/food_bag.png"
      alt=""
      class="sm:order-3 h-50 w-fit place-self-center lg:order-first lg:h-fit lg:w-fit"
    />

    <div class="flex flex-col place-content-between">
      <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
        Hvad kan vi gøre?
      </Heading>

      <Text>
        Emner som disse kan virke store og uoverskuelige. Det kan være svært at
        vide hvor man skal starte, hvis man gerne vil hjælpe med at gøre en
        forskel. Derfor har vi her nogle simple vaner man kan indfører i
        hverdagen, som hjælper til med at mindske mængden af madspild:</Text
      >

      <div class="flex flex-col gap-5">
        <!-- <Button> KØB ENKELT VARE </Button> -->
        <Link variant="green"> KØB ENKELT VARE</Link>
        <Link variant="orange"> KØB IND MED OMTANKE</Link>
        <Link variant="purple"> DOGGY BAGS</Link>
        <!-- <Button> KØB IND MED OMTANKE </Button>
        <Button> DOGGY BAGS</Button> -->
      </div>
    </div>
  </section>

  <section
    class="sm:flex flex-col lg:flex lg:flex-row lg:mr-section_right lg:ml-section_left lg:mb-section_buttom lg:mt-section_top"
  >
    <div>
      <Link variant="green-inverted" size="medium">Tip1:</Link>
      <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
        Fortsæt med at købe enkelt-varer
      </Heading>

      <div class="sm:flex flex-col gap-3 lg:hidden">
        <Text
          >I 2017 medvirkede Stop Spild Af Mad til at Rema 1000 droppede
          mængerabatter i alle kædens danske butikker.</Text
        >
        <Text
          >Mængden af madspild faldt her efter fra ca. 80-100 bananer blev smidt
          ud om dagen, til kun 10 bananer om dagen.
        </Text>
      </div>

      <div class="sm:hidden lg:flex lg:flex-col gap-3">
        <Text>
          I 2017 medvirkede Stop Spild Af Mad til at Rema 1000 droppede
          mængerabatter i alle kædens danske butikker.
        </Text>
        <Text>
          Mængden af madspild faldt her efter fra ca. 80-100 bananer blev smidt
          ud om dagen, til kun 10 bananer om dagen.
        </Text>
      </div>
    </div>

    <img src="/img/banan1.png" alt="" class="sm:h-85 self-center lg:h-125" />
  </section>

  <section
    class="lg:mr-section_right lg:ml-section_left lg:mb-section_buttom lg:mt-section_top"
  >
    <Link variant="orange" size="medium">Tip2:</Link>
    <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
      Køb in med omtanke
    </Heading>

    <Text>I gennemsnittet ender vi med at smide 25% af maden vi køber ud.</Text>
    <Text
      >Det vil svare til at hver fjerede indkøbsvogn man ser i supermarkedet
      bliver smidt ud.</Text
    >

    <div class="staggeranimation flex flex-row gap-10" id="stagger">
      <img src="/img/cart.png" alt="" class="sm:h-35 w-auto lg:h-50" />
      <img src="/img/cart.png" alt="" class="sm:h-35 w-auto lg:h-50" />
      <img src="/img/cart.png" alt="" class="sm:h-35 w-auto lg:h-50" />
      <img
        src="/img/cart.png"
        alt=""
        class="grayscale sm:h-35 w-auto lg:h-50"
      />
    </div>
  </section>

  <section
    class="lg:grid lg:grid-cols-2 lg:grid-row-2 lg:mr-section_right lg:ml-section_left lg:mb-section_buttom lg:mt-section_top lg:gap-10"
  >
    <div class="lg:flex lg:flex-col lg:order-2 lg:col-start-2">
      <div class="lg:hidden">
        <Link variant="purple" size="medium">Tip3:</Link>
        <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
          Doggy Bags
        </Heading>
      </div>

      <div
        class="bg-[url('/img/star.svg')] bg-no-repeat bg-contain bg-center sm:h-100 w-auto place-content-center lg:h-185"
      >
        <img
          src="/img/doggy_bag.png"
          alt=""
          class="sm:mx-auto h-75 w-auto lg:h-100"
        />
      </div>

      <div class="sm:flex flex-col gap-5 inline lg:hidden">
        <Text
          >I adskellige forskellige resturanter har vi samarbejdskab og har
          implimenteret vores Doggy bag!</Text
        >
        <Text
          >Hvis du ikke kan spise din mad færdig kan du spørge om en doggy bag
          og tage maden med hjem!</Text
        >
      </div>

      <div class="sm:flex flex-col gap-5 hidden lg:gap-2">
        <Text
          >I samarbejdskab med adskillige forskellige restauranter, har vi
          implementeret vores ‘doggy bag’!</Text
        >
        <Text
          >Hvis du ikke kan spise din mad færdig kan du spørge om en ‘doggy bag’
          og tage maden med hjem.</Text
        >
      </div>
    </div>

    <div
      class="sm:flex flex-col items-center gap-5 lg:items-baseline lg:order-1"
    >
      <div class="sm:hidden lg:inline">
        <Link variant="purple" size="medium">Tip3:</Link>
        <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
          Doggy Bags
        </Heading>
      </div>

      <div class="flex flex-col gap-5 lg:w-full">
        <img src="/img/map_placeholder.png" alt="" class="w-full" />
        <!-- <Button>SE RESTURANTER</Button> -->
        <Link href="wip" variant="purple">SE RESTURANTER</Link>
      </div>
    </div>
  </section>

  <section
    class="mr-section_right ml-section_left max-w-585px place-items-center lg:mb-section_buttom lg:mt-section_top"
  >
    <Heading htmlheading="h1" size="medium" stylingclasses="mb-6">
      VORES HISTORIE
    </Heading>
    <Text
      >Vi er meget stolte af hvor meget Stop Spild Af Mad har mulighed for at
      udrette.
      <br />
      Her er nogle af vores højdepunkter.</Text
    >
  </section>

  <section class="sm:ml-25 lg:mr-section_right lg:ml-section_left">
    <div
      class="tidslinje sm:max-h-50 sm:flex lg:flex-row lg:max-h-100 lg:w-auto"
    >
      <ul class="overflow-auto w-auto pr-55">
        <li class="li1 activeTime" id="li1"><h1>2008</h1></li>
        <li class="li2" id="li2"><h1>2009</h1></li>
        <li class="li3" id="li3"><h1>2010</h1></li>
        <li class="li4" id="li4"><h1>2011</h1></li>
        <li class="li5" id="li5"><h1>2012</h1></li>
        <div class="hidden">
          <li class="li6" id="li6"><h1>2013</h1></li>
          <li class="li7" id="li7"><h1>2014</h1></li>
          <li class="li8" id="li8"><h1>2015</h1></li>
        </div>
      </ul>

      <div class="grid grid-cols-2 li1_content gap-5" id="li1_content">
        <img src="/img/2008.png" alt="" class="place-self-end h-100 w-auto" />
        <div class="flex flex-col gap-10 w-auto">
          <h1>Begyndelsen</h1>
          <p>
            Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en facebook
            gruppe, men voksede hurtigt til en anderkendt frivilligt og
            selvstændigt non-profit. Selina Juul var motiveret af hendes fortid
            i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom til
            Danmark tog hun derfor kampen op i mod madspild.
          </p>
        </div>
      </div>

      <div class="flex flex-row li2_content inactiveBox" id="li2_content">
        <img src="/img/cart.png" alt="" />
        <div class="flex flex-col gap-10">
          <h1>Begyndelsen 222</h1>
          <Text>
            Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en facebook
            gruppe, men voksede hurtigt til en anderkendt frivilligt og
            selvstændigt non-profit. Selina Juul var motiveret af hendes fortid
            i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom til
            Danmark tog hun derfor kampen op i mod madspild.
          </Text>
        </div>
      </div>

      <div class="flex flex-row li3_content inactiveBox" id="li3_content">
        <img src="/img/cart.png" alt="" />
        <div class="flex flex-col gap-10">
          <h1>Begyndelsen 333</h1>
          <p>
            Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en facebook
            gruppe, men voksede hurtigt til en anderkendt frivilligt og
            selvstændigt non-profit. Selina Juul var motiveret af hendes fortid
            i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom til
            Danmark tog hun derfor kampen op i mod madspild.
          </p>
        </div>
      </div>

      <div class="flex flex-row li4_content inactiveBox" id="li4_content">
        <img src="/img/cart.png" alt="" />
        <div class="flex flex-col gap-10">
          <h1>Begyndelsen 444</h1>
          <p>
            Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en facebook
            gruppe, men voksede hurtigt til en anderkendt frivilligt og
            selvstændigt non-profit. Selina Juul var motiveret af hendes fortid
            i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom til
            Danmark tog hun derfor kampen op i mod madspild.
          </p>
        </div>
      </div>

      <div class="flex flex-row li5_content inactiveBox" id="li5_content">
        <img src="/img/cart.png" alt="" />
        <div class="flex flex-col gap-10">
          <h1>Begyndelsen 555</h1>
          <p>
            Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en facebook
            gruppe, men voksede hurtigt til en anderkendt frivilligt og
            selvstændigt non-profit. Selina Juul var motiveret af hendes fortid
            i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom til
            Danmark tog hun derfor kampen op i mod madspild.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="lg:mr-section_right lg:ml-section_left lg:mb-section_buttom lg:mt-section_top"
  >
    <Heading htmlheading="h1" size="medium" stylingclasses="mb-6">
      Vores TEDx Talks
    </Heading>

    <div class="active">
      <video width="100%" controls id="vid2012">
        <source src="img/vids/TedX_2012.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="inactive">
      <video width="100%" controls id="vid2016">
        <source src="img/vids/TedX_2016.mp4" type="video/mp4" />
      </video>
    </div>

    <section class="grid grid-cols-2 gap-5 mt-5">
      <Link href="#" variant="orange" size="large" id="2012_btn"> 2012 </Link>
      <Link href="#" variant="orange" size="large" id="2016_btn"> 2016 </Link>
    </section>
  </section>

  <div>
    <a href="#" id="scrollToTop" class="material-icons-outlined">
      <Button>TILBAGE TIL TOPPEN</Button>
    </a>
  </div>
</MainLayout>

<style>
  .activeTime {
    color: purple;
    cursor: default;
    margin-left: 3rem;
  }

  .activeBox {
    display: block;
  }

  .inactiveBox {
    display: none;
  }

  h1 {
    font-size: 4rem;
  }

  ul::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }

  li {
    cursor: pointer;

    h1 {
      font-size: 5rem;
    }
  }

  .active {
    display: block;
  }

  .inactive {
    display: none;
  }

  .carousel {
    display: flex;
    overflow-x: auto;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 20s infinite linear;
    padding-right: 1em;
  }

  .carousel_img {
    flex: 0 0 5em;
    align-content: center;
    padding: 1em;
  }

  @keyframes spin {
    from {
      translate: 0;
    }
    to {
      translate: -100%;
    }
  }

  #scrollToTop {
    animation-timeline: scroll(y);
    scroll-behavior: smooth;

    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    // TEDx Talk JS
    const btn2012 = document.getElementById("2012_btn");
    const btn2016 = document.getElementById("2016_btn");
    const vid2012 = document.getElementById("vid2012");
    const vid2016 = document.getElementById("vid2016");

    if (btn2012 && btn2016 && vid2012 && vid2016) {
      btn2012.addEventListener("click", (e) => {
        e.preventDefault();
        vid2016.classList.remove("active");
        vid2016.classList.add("inactive");
        vid2012.classList.remove("inactive");
        vid2012.classList.add("active");
      });

      btn2016.addEventListener("click", (e) => {
        e.preventDefault();
        vid2012.classList.remove("active");
        vid2012.classList.add("inactive");
        vid2016.classList.remove("inactive");
        vid2016.classList.add("active");
      });
    }

    // Scroll to top
    const scrollToTopBtn = document.getElementById("scrollToTop");
    if (scrollToTopBtn) {
      scrollToTopBtn.addEventListener("click", function (e) {
        e.preventDefault();
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      });
    }

    // Stagger animation for cart images - Simple vanilla JS version
    function initStaggerAnimation() {
      const staggerContainer = document.getElementById("stagger");
      if (!staggerContainer) {
        console.warn("Stagger container not found");
        return;
      }

      const images = staggerContainer.querySelectorAll("img");
      if (images.length === 0) {
        console.warn("No images found in stagger container");
        return;
      }

      // Set initial opacity to 0
      images.forEach((img) => {
        img.style.opacity = "0";
        img.style.transition = "opacity 0.6s ease-in-out";
      });

      // Use Intersection Observer to trigger animation when element is in view
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              // Animate images with stagger effect
              images.forEach((img, index) => {
                setTimeout(() => {
                  img.style.opacity = "1";
                }, index * 150); // 150ms delay between each image
              });
              observer.unobserve(staggerContainer);
            }
          });
        },
        { threshold: 0.1 },
      );

      observer.observe(staggerContainer);
    }

    // Initialize stagger animation
    initStaggerAnimation();

    // ===== TIDSLINJE (TIMELINE) JAVASCRIPT =====
    // This section handles the interactive timeline where users can click on years (2008-2015)
    // to switch between different content boxes showing historical events

    // Get all year list items (li1, li2, etc.)
    const list1 = document.getElementById("li1");
    const list2 = document.getElementById("li2");
    const list3 = document.getElementById("li3");
    const list4 = document.getElementById("li4");
    const list5 = document.getElementById("li5");
    const list6 = document.getElementById("li6");
    const list7 = document.getElementById("li7");
    const list8 = document.getElementById("li8");

    // Get all content boxes that correspond to each year
    const list1box = document.getElementById("li1_content");
    const list2box = document.getElementById("li2_content");
    const list3box = document.getElementById("li3_content");
    const list4box = document.getElementById("li4_content");
    const list5box = document.getElementById("li5_content");
    const list6box = document.getElementById("li_6content");
    const list7box = document.getElementById("li_7content");
    const list8box = document.getElementById("li_8content");

    // ===== 2008 BUTTON CLICK HANDLER =====
    // When user clicks 2008, show 2008 content and hide all others
    if (list1 && list1box) {
      list1.addEventListener("click", () => {
        // Mark 2008 as active (add yellow background)
        list1.classList.add("activeTime");
        // Show 2008 content box
        list1box.classList.remove("inactiveBox");
        // Hide all other years
        if (list2) list2.classList.remove("activeTime");
        if (list2box) list2box.classList.add("inactiveBox");
        if (list3) list3.classList.remove("activeTime");
        if (list3box) list3box.classList.add("inactiveBox");
        if (list4) list4.classList.remove("activeTime");
        if (list4box) list4box.classList.add("inactiveBox");
        if (list5) list5.classList.remove("activeTime");
        if (list5box) list5box.classList.add("inactiveBox");
        if (list6) list6.classList.remove("activeTime");
        if (list6box) list6box.classList.add("inactiveBox");
        if (list7) list7.classList.remove("activeTime");
        if (list7box) list7box.classList.add("inactiveBox");
        if (list8) list8.classList.remove("activeTime");
        if (list8box) list8box.classList.add("inactiveBox");
      });
    }

    // ===== 2009 BUTTON CLICK HANDLER =====
    // When user clicks 2009, show 2009 content and hide all others
    if (list2 && list2box) {
      list2.addEventListener("click", () => {
        list2.classList.add("activeTime");
        list2box.classList.remove("inactiveBox");
        if (list1) list1.classList.remove("activeTime");
        if (list1box) list1box.classList.add("inactiveBox");
        if (list3) list3.classList.remove("activeTime");
        if (list3box) list3box.classList.add("inactiveBox");
        if (list4) list4.classList.remove("activeTime");
        if (list4box) list4box.classList.add("inactiveBox");
        if (list5) list5.classList.remove("activeTime");
        if (list5box) list5box.classList.add("inactiveBox");
        if (list6) list6.classList.remove("activeTime");
        if (list6box) list6box.classList.add("inactiveBox");
        if (list7) list7.classList.remove("activeTime");
        if (list7box) list7box.classList.add("inactiveBox");
        if (list8) list8.classList.remove("activeTime");
        if (list8box) list8box.classList.add("inactiveBox");
      });
    }

    // ===== 2010 BUTTON CLICK HANDLER =====
    if (list3 && list3box) {
      list3.addEventListener("click", () => {
        list3.classList.add("activeTime");
        list3box.classList.remove("inactiveBox");
        if (list1) list1.classList.remove("activeTime");
        if (list1box) list1box.classList.add("inactiveBox");
        if (list2) list2.classList.remove("activeTime");
        if (list2box) list2box.classList.add("inactiveBox");
        if (list4) list4.classList.remove("activeTime");
        if (list4box) list4box.classList.add("inactiveBox");
        if (list5) list5.classList.remove("activeTime");
        if (list5box) list5box.classList.add("inactiveBox");
        if (list6) list6.classList.remove("activeTime");
        if (list6box) list6box.classList.add("inactiveBox");
        if (list7) list7.classList.remove("activeTime");
        if (list7box) list7box.classList.add("inactiveBox");
        if (list8) list8.classList.remove("activeTime");
        if (list8box) list8box.classList.add("inactiveBox");
      });
    }

    // ===== 2011 BUTTON CLICK HANDLER =====
    if (list4 && list4box) {
      list4.addEventListener("click", () => {
        list4.classList.add("activeTime");
        list4box.classList.remove("inactiveBox");
        if (list1) list1.classList.remove("activeTime");
        if (list1box) list1box.classList.add("inactiveBox");
        if (list2) list2.classList.remove("activeTime");
        if (list2box) list2box.classList.add("inactiveBox");
        if (list3) list3.classList.remove("activeTime");
        if (list3box) list3box.classList.add("inactiveBox");
        if (list5) list5.classList.remove("activeTime");
        if (list5box) list5box.classList.add("inactiveBox");
        if (list6) list6.classList.remove("activeTime");
        if (list6box) list6box.classList.add("inactiveBox");
        if (list7) list7.classList.remove("activeTime");
        if (list7box) list7box.classList.add("inactiveBox");
        if (list8) list8.classList.remove("activeTime");
        if (list8box) list8box.classList.add("inactiveBox");
      });
    }

    // ===== 2012 BUTTON CLICK HANDLER =====
    if (list5 && list5box) {
      list5.addEventListener("click", () => {
        list5.classList.add("activeTime");
        list5box.classList.remove("inactiveBox");
        if (list1) list1.classList.remove("activeTime");
        if (list1box) list1box.classList.add("inactiveBox");
        if (list2) list2.classList.remove("activeTime");
        if (list2box) list2box.classList.add("inactiveBox");
        if (list3) list3.classList.remove("activeTime");
        if (list3box) list3box.classList.add("inactiveBox");
        if (list4) list4.classList.remove("activeTime");
        if (list4box) list4box.classList.add("inactiveBox");
        if (list6) list6.classList.remove("activeTime");
        if (list6box) list6box.classList.add("inactiveBox");
        if (list7) list7.classList.remove("activeTime");
        if (list7box) list7box.classList.add("inactiveBox");
        if (list8) list8.classList.remove("activeTime");
        if (list8box) list8box.classList.add("inactiveBox");
      });
    }
  });
</script>
