---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
---
<!-- SM: er 640px i width -->
<MainLayout title="Hvad kan vi gøre">

<section class="hero">
</section>

<section class="sm:flex flex-col lg:flex-row lg:mr-section_right lg:ml-section_left">

<img src="/img/food_bag.png" alt="" class="sm:order-3 h-50 w-fit place-self-center lg:order-first lg:h-fit lg:w-fit">


<div class="flex flex-col place-content-between">
      <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
       Hvad kan vi gøre?
      </Heading>

      <Text> Emner som disse kan virke store og uoverskuelige. Det kan være svært at vide hvor man skal starte, hvis man gerne vil hjælpe med at gøre en forskel. Derfor har vi her nogle simple vaner man kan indfører i hverdagen, som hjælper til med at mindske mængden af madspild:</Text>

      <div class="flex flex-col gap-4 mb-10">
        <Button> KØB ENKELT VARE </Button>
        <Button> KØB IND MED OMTANKE </Button>
        <Button> DOGGY BAGS</Button>
    </div>

</div>

</section>

<section class="sm:flex flex-col lg:flex lg:flex-row lg:mr-section_right lg:ml-section_left">

    <div>
      <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
       Fortsæt med at købe enkelt-varer
      </Heading>


      <div class="sm:flex flex-col gap-3 lg:hidden">
      <Text>I 2017 medvirkede Stop Spild Af Mad til at Rema 1000 droppede mængerabatter i alle kædens danske butikker.</Text>
      <Text>Mængden af madspild faldt her efter fra ca. 80-100 bananer blev smidt ud om dagen, til kun 10 bananer om dagen. </Text>
      </div>

      <div class="sm:hidden lg:inline lg:flex lg:flex-col gap-3">
        <Text>
            I 2017 medvirkede Stop Spild Af Mad til at Rema 1000 droppede mængerabatter i alle kædens danske butikker.
        </Text>
        <Text>
            Mængden af madspild faldt her efter fra ca. 80-100 bananer blev smidt ud om dagen, til kun 10 bananer om dagen.
        </Text>
      </div>

            </div>
    
      <img src="/img/banan1.png" alt="" class="sm:h-50 w-auto ml-auto lg:h-125">
</section>

<section class="lg:mr-section_right lg:ml-section_left">

<Heading htmlheading="h2" size="medium" stylingclasses="mb-6"> Køb in med omtanke </Heading>

			<Text>I gennemsnittet ender vi med at smide  25% af maden vi køber ud.</Text>
			<Text>Det vil svare til at hver fjerede indkøbsvogn man ser i supermarkedet bliver smidt ud.</Text>

			<div class="lg:staggeranimation flex flex-row gap-10" id="stagger">
				<img src="/img/cart.png" alt="" class="sm:h-35 w-auto lg:h-50">
				<img src="/img/cart.png" alt="" class="sm:h-35 w-auto lg:h-50">
				<img src="/img/cart.png" alt="" class="sm:h-35 w-auto lg:h-50">
				<img src="/img/cart.png" alt="" class="grayscale sm:h-35 w-auto lg:h-50">
			</div>


</section>

<section class="lg:grid lg:grid-cols-1 lg:grid-row-2 lg:mr-section_right lg:ml-section_left lg:gap-10">


    <div class="lg:flex lg:flex-col lg:order-2 lg:col-start-2">
        <div class="lg:hidden">
        <Heading htmlheading="h2" size="medium" stylingclasses="mb-6"> Doggy Bags </Heading>
        </div>

        <div class="bg-[url('/img/star.svg')] bg-no-repeat bg-contain bg-center sm:h-100 w-auto place-content-center">
            <img src="/img/doggy_bag.png" alt="" class="sm:mx-auto h-75 w-auto">
        </div>

        <div class="sm:flex flex-col gap-5 inline lg:hidden">
            <Text>I adskellige forskellige resturanter har vi samarbejdskab og har implimenteret vores Doggy bag!</Text>
            <Text>Hvis du ikke kan spise din mad færdig kan du spørge om en doggy bag og tage maden med hjem!</Text>
        </div>

        <div class="sm:flex flex-col gap-5 hidden lg:inline">
            <Text>I samarbejdskab med adskillige forskellige restauranter, har vi implementeret vores ‘doggy bag’!</Text>
            <Text>Hvis du ikke kan spise din mad færdig kan du spørge om en ‘doggy bag’ og tage maden med hjem.</Text>
        </div>
    </div>

        <div class="sm:flex flex-col items-center gap-5 lg:items-baseline lg:order-1">
        <div class="sm:hidden lg:inline">
        <Heading htmlheading="h2" size="medium" stylingclasses="mb-6"> Doggy Bags </Heading>
        </div>
        
        <div class="flex flex-col gap-5 lg:w-full">
            <img src="/img/map_placeholder.png" alt="" class="w-full">
            <Button>SE RESTURANTER</Button>
        </div>
        </div>

</section>

</MainLayout>

<script>
          // Stagger animation Motion JS
      import { animate, stagger, inView, scroll } from "motion";
      inView("#stagger", () => {
        animate(
          ".staggeranimation img",
          { opacity: [0, 1] },
          {
            delay: stagger(0.5, { startDelay: 0.5 }),
          }
        );
      });
</script>