---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
---

<MainLayout title="Stop Spild Af Mad">
  <main class="container mx-auto p-4">
    <section class="mb-12">
      <Heading htmlheading="h1" size="large" stylingclasses="mb-4">
        Stop Spild Af Mad
      </Heading>
      <Text>
        Sammen kan vi gøre en forskel. Udforsk hvordan du kan bidrage til kampen
        mod madspild.
      </Text>
    </section>

    <section class="mb-12">
      <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
        Kom i gang
      </Heading>
    </section>
  </main>
</MainLayout>
