---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout>
  <div class="flex place-content-center place-items-center-safe h-150">
    <Heading> WORK IN PROGRESS </Heading>
  </div>
</MainLayout>
