---
import Heading from "../components/Heading.astro";

const { slug, title, image } = Astro.props;
---

<article
  class="group bg-white border border-gray-300 rounded-lg overflow-hidden shadow-sm hover:shadow-xl transition-all duration-300"
>
  <a href={`/singleview/${slug}`} class="block">
    <div class="relative overflow-hidden aspect-video">
      <img
        src={image}
        alt={title}
        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
      />
    </div>

    <div class="p-4 md:p-6">
      <Heading
        htmlheading="h3"
        size="medium"
        stylingclasses="mb-3 group-hover:text-primary-500 transition-colors duration-300"
      >
        {title}
      </Heading>

      <span class="underline text-blue-500">Læs mere →</span>
    </div>
  </a>
</article>
